@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* FOOTER, BUILT BY SHALINI*/

.one-match {
        background-color: #25ccc0;
    }
.one-match:hover{
  Background-color: #0ea196;

}

.contact-us {
        background-color: #603e96;
}

.contact-us:hover {
        Background-color: #39186c;
}

.fcontainer {
  padding: 30px;
  background-color: black;
}

.quote{
  background: #f5421c;
  width:140px;
}

.quote:hover{
  background: #ea2e06;
}

.col-block {
  display: inline-block;
  float: left;
}

.footer-logo{
  width: 50%;
}

.footer-buttons{
  width: 50%;

}

.footer-buttons .button{
  border-radius: .25rem;
    width: 8rem;
    padding: .8rem 1.2em;
    text-align: center;
    transition: Background-color .25s ease-in-out;
    font-size: .87rem;
    color: white;
    margin: 15px;
    text-decoration: none;
}

.float-right{
  float: right;
}

.footer-sections {
  color: white;
  margin-left: 25px;
}
.clearfloat:before,
.clearfloat:after {
  display: table;
  content: " ";
}

.clearfloat:after {
  clear: both;
}

.footer-aboutus-section, .footer-outsolutions-section, .footer-ourwork-section, .footer-moreinfo-section, .footer-connectwithus-section {
  width: calc(100%/5);
}

.footer-header {
  min-height: 100px;
  padding-top: 25px;
}

.footer-copyright {
  border-top: 1px solid #636363;
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    line-height: 2em;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}

.footer-sections ul {
  list-style: none;
  padding: 0;
  text-align: left;
}



.footer-sections ul li a {
  color: #fff;
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    text-decoration: none;
}

.footer-sections ul li a:hover {
  text-decoration: underline;
}

.footer-sections ul li .connect-phone {
  font-size: 35px;
    font-weight: 700;
    line-height: 0.7em;
}

.footer-sections span.section-header {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-sections span.section-header a {
  color: white;
}

.social{
  text-transform: uppercase;
    font-size: 12px;
    line-height: 2em;
    margin-top: 50px;
}

.social a {
  color: white;
  text-decoration: none;
}

.social a:hover {
  text-decoration: underline;
}

.fcontainer a {
  text-decoration: none;
}

.fcontainer a:hover {
  text-decoration: underline;
}

.social a span.twitter{
      color: #27ccc0;
}

.social a span.fb {
  color: #1980e1;
}

.footer-copyright a {
  text-decoration: none !important;
}

.footer-copyright a:hover {
  color: white;
  text-decoration: none !important;
}

.copyright, .copyright:hover{
  color: #636363 !important;
  text-decoration: none !important;
}
