@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* HEADER, BUILT BY CAMPER */
h1,
h2 {
    margin: 0;
}

.primary-header .button,
.primary-header .search,
.primary-header .menu,
.secondary-header {
    display: none;
}

header a,
header .fa{
    color: white;
    text-decoration: none;
}

.header-media {
    height: 100vh;
    background: url("../images/bg-header-home.jpg") no-repeat center center fixed;
    background-size: cover;
}

video {
    display: none;
}

.primary-header {
    padding: 0 1.875rem;
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    transition: background .5s ease-in-out, top .5s ease-out, border-bottom .5s ease-out;
    z-index: 5;
}

.primary-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a7c3e9;
}

.header-scrolled {
    background: rgba(29, 12, 54, 0.95);
    border: none;
    max-width: 1170px;
    padding: 0 1.875rem;
    margin: 0;
    top: 0;
    border: none;
}

.primary-container-scrolled {
    border-bottom: none;
}

.logo {
    height: 100%;
    vertical-align: middle;
}
 
.logo-content,
.button-content {
    margin: 2rem 0 1.5rem 0;
}

/* BANNER, BUILT BY CAMPER */

.banner {
    position: absolute;
    height: 60vh;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 1.875rem;
}

.banner h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 1.875rem;
}

.banner p {
    font-size: 1.2rem;
}

.banner p span {
    font-weight: bold;
}

.banner .button {
    width: 100%;
    padding: .875rem;
    border-radius: .15rem;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .25s ease-in;
}

.banner .quote {
    margin: 4vh 0 2vh;
}

.rfp {
    border: 1px solid white;
}

.rfp:hover {
    background-color: #27ccc0;
}

.banner .fa {
    font-size: 2rem;
    margin-top: 1rem;
}

.banner .fa:hover {
    color: #27ccc0;
}

/* TESTIMONIAL, BUILT BY CAMPER */
.testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5rem auto;
}

.testimonial-link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.testimonials h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.25rem;
    text-align: center;
    margin: 0 .5rem .5rem .5rem;
}

.quote-author-image {
    border-radius: 50%;
}

.quote-standout,
.case-study-standout {
    font-weight: bold;
}

.quote-icon {
    display: block;
    width: 11%;
    max-width: 3rem;
    margin: .5rem 0 0 1rem;
}

.highlighted-testimonial blockquote {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.quote-author {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
}

.focus-box {
    background-color: #25ccc0;
    color: white;
    /* width: 85%; */
    margin: auto;
    padding: .5rem;
    text-decoration: none;
    font-weight: 400;
    max-width: 60%;
}

.quote-author-title {
    font-size: 1.3rem;
}

.case-study {
    margin: auto 0.5rem;
}

.case-study-name {
    color: #603e96;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.case-study-description {
    margin: 1rem 1.5rem;
    line-height: 1.5;
    font-size: 1.2rem;
}

.case-study-image {
    width: 60%;
    margin: 0 0 1rem 0;
}

.case-study-url {
    display: block;
}

.case-study .focus-box {
    max-width: 60%;
}

/* FOOTER, BUILT BY SHALINI*/

.one-match {
        background-color: #25ccc0;
    }
.one-match:hover{
  Background-color: #0ea196;
  text-decoration: none !important;

}

.contact-us {
        background-color: #603e96;
}

.contact-us:hover {
        Background-color: #39186c;
        text-decoration: none !important;
}

footer {
  background-color: black;
}

.fcontainer {
  padding: 30px;
  max-width: 1170px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.quote{
  background: #f5421c;
  width:140px;
}

.quote:hover{
  background: #ea2e06;
  text-decoration: none !important;
}

.col-block {
  display: inline-block;
  float: left;
}

.footer-logo{
  width: 50%;
}

.footer-buttons{
  width: 50%;

}

.footer-buttons .button{
  border-radius: .25rem;
    width: 8rem;
    padding: .8rem 1.2em;
    text-align: center;
    transition: Background-color .25s ease-in-out;
    font-size: .87rem;
    color: white;
    margin: 15px;
    text-decoration: none;
}

.float-right{
  float: right;
}

.footer-sections {
  color: white;
  margin-left: 25px;
}
.clearfloat:before,
.clearfloat:after {
  display: table;
  content: " ";
}

.clearfloat:after {
  clear: both;
}

.footer-aboutus-section, .footer-oursolutions-section, .footer-ourwork-section, .footer-moreinfo-section, address{
  width: calc(100%/5);
  font-style: normal;
}

.footer-header {
  min-height: 100px;
  padding-top: 25px;
}

.footer-copyright {
  border-top: 1px solid #636363;
    color: #636363 ;
    font-size: 14px;
    font-weight: 300;
    line-height: 2em;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}

.footer-sections ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-sections .footer-list-item-anchor a {
  color: #fff;
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    text-decoration: none;
}

.footer-sections .footer-list-item-anchor a:hover {
  text-decoration: underline;
}

.footer-sections ul li .connect-phone {
  font-size: 35px;
    font-weight: 700;
    line-height: 0.7em;
}

.footer-sections .section-header {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-sections .section-header a {
  color: white;
}

.social{
  text-transform: uppercase;
    font-size: 12px;
    line-height: 2em;
    margin-top: 50px;
}

.social a {
  color: white;
  text-decoration: none;
}

.social a:hover {
  text-decoration: underline;
}

.fcontainer a {
  text-decoration: none;
}

.fcontainer a:hover {
  text-decoration: underline;
}

.social a span.twitter{
      color: #27ccc0;
}

.social a span.fb {
  color: #1980e1;
}

.footer-copyright a {
  text-decoration: none !important;
  color: #636363 !important;
}

.footer-copyright a:hover {
  color: white !important;
  text-decoration: none !important;
}

.footer-copyright a.copyright, .footer-copyright a.copyright:hover{
  color: #636363 !important;
  text-decoration: none !important;
}

.footer-copyright address {
  text-decoration: none !important;
  color: #636363 !important;
  display: inline;
}

.footer-copyright address:hover {
  color: white !important;
  text-decoration: none !important;
  display: inline;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    /* HEADER, BUILT BY CAMPER */
    .header-media {
        height: 88vh;
    }

    .secondary-header h1,
    .secondary-header h2 {
        font-size: 1rem;
        color: white;
        padding-left: 1rem;
    }

    .secondary-header h1 {
        border-right: 1px solid white;
        padding-right: 1rem;
        font-weight: 300;
    }

    .secondary-header h2 {
        font-weight: bold;
    }

    .secondary-header {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
        margin: 0 1.875rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .primary-header {
        top: 2rem;
    }

    .primary-header .button,
    .primary-header .search,
    .primary-header .menu,
    .primary-header .menu-bars {
        display: block;
        margin-left: 1rem;
        text-transform: uppercase;
    }

    .button-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .primary-header .button {
        border-radius: .25rem;
        width: 8.75rem;
        padding: .7rem .5rem;
        text-align: center;
        transition: background-color .25s ease-in-out;
        font-size: .87rem;
        font-weight: 400;
    }

    .logo-content, .button-content {
        margin: 1rem 0 .7rem 0;
    }

    .contact-us {
        background-color: #603e96;
    }

    .contact-us:hover {
        Background-color: #39186c;
    }

    .one-match {
        background-color: #25ccc0;
    }

    .one-match:hover {
        Background-color: #0ea196;
    }

    .header-scrolled {
        width: auto;
        top: 0;
    }

    header .fa-bars {
        font-size: 1.2rem;
    }

    .clients {
        background: url("../images/logos.jpg") center center no-repeat;
        background-size: 100vw;
        height: 12vh;
    }

    /* TESTIMONIAL, BUILT BY CAMPER */
    .quote-icon {
        width: auto;
        margin: .5rem 0 0 4rem;
    }

    .highlighted-testimonial blockquote {
        margin: 0 7rem 1rem 7rem;
    }

    .quote-author-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4rem;
    }

    .quote-author-details {
        margin: .5rem;
        text-align: right;
    }

    .quote-author {
        order: 1;
        margin: .5rem;
    }

    .quote-author-title {
        order: 2;
        width: auto;
        max-width: inherit;
    }

    .quote-author-company {
        order: 3;
        margin: .5rem;
    }

    .quote-author-image {
        order: 4;
    }

    .case-study .focus-box {
        width: 85%;
    }

    .case-study {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 5rem;
    }

    .case-study-name {
        width: 100%;
        order: 1;
        margin-bottom: 0;
    }

    .case-study-url {
        order: 2;
        margin: 3rem 35%;
    }

    .case-study-image {
        order: 3;
        width: 45%;
        margin: 0 0 1rem 0;
    }

    .case-study-description {
        order: 4;
        width: 45%;
        margin: 0 0 0 1.5rem;
        text-align: right;
    }

    .alzheimer .case-study-description {
        order: 3;
        margin: 0 1.5rem 0 0;
        text-align: left;
    }

    .alzheimer .case-study-image {
        order: 4;
    }

    /* FOOTER, BUILT BY SHALINI */
    .footer-logo {
      width: 30%;
    }

    .footer-buttons {
      width: 70%;
    }

    .footer-sections ul li .connect-phone{
      font-size: 22px;
    }
}

@media only screen and (min-width: 1024px) {
    .header-media {
        position: relative;
        overflow: hidden;
        z-index: -20;
        width: 100%;
    }

    video {
        display: block;
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
}

@media only screen and (min-width: 1190px) {
    .primary-header-container {
        max-width: 1170px;
        margin: auto;
    }

    .primary-header,
    .secondary-header {
        max-width: 1170px;
        margin: auto;
    }

    .primary-header {
        max-width: 100vw;
    }

    .header-scrolled {
        max-width: 100vw;
        margin: 0;
    }

    .clients {
        background-size: 1170px;
    }

    .testimonials {
        max-width: 1170px;
        /* margin: 5rem auto; */
    }
}

@media only screen and (max-width: 774px){
    .footer-buttons {
      width: 100%; //override the web width attribute
    }

    .float-right, .col-block{
      float:none;
    }

    .fcontainer {
      padding: 0%;
    }

    .footer-buttons .footer-buttons-wrapper {
      margin: 0 40px 0 40px;
    }

    .footer-buttons .button {
      box-sizing: content-box;
      display: block;
      float: none;
      width: auto;
    }

    .footer-buttons a{
      text-decoration: none;
    }

    .footer-logo, .footer-aboutus-section, .footer-oursolutions-section, .footer-ourwork-section, .footer-moreinfo-section
    {
      display: none;
    }

    .footer-sections {
      margin-left: 0;//reset web margin
      width: 100%;
    }

    .footer-sections address {
      display: block;
      text-align: center;
      width: 100%;
      padding-top: 2em;
    }

    .section-header, .footer-list-item-anchor, .social, .footer-copyright{
      display: block;
    }

    .footer-list-item-anchor li {
      text-align: center;
      padding: 5px;
    }

    .footer-sections .social {
      padding-bottom: 50px;
    }

    .footer-copyright {
      padding: 20px;
      margin-top: 0;

    }
}
